<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/static/profile.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <a id="links" href="{{ url_for('profile') }}">Home</a>
      <a id="links" href="{{ url_for('find') }}">Find</a>
      <a id="links" href="{{ url_for('matches') }}">Matches</a>
      <a id="links" href="{{ url_for('settings_aboutme') }}">Settings</a>
      <a id="links" href="{{ url_for('logout') }}">Logout</a>
    </header>
    <div id="header2">
      <a id="curr_option" href="{{ url_for('matches') }}">Matches</a>
      <a id="option" href="{{ url_for('matches_requests') }}">Requests</a>
      <a id="option" href="{{ url_for('matches_pending') }}">Pending</a>
    </div>
    <div id="matches">
      
      <br>
        {% for i in range(user_data|length) %}
        <div id="user">
          <img src="static/pfps/{{user_data[i][3]}}" alt="{{user_data[i][3]}}" width=200px height=200px></img>
          <br>
          <p>{{user_data[i][1]}}</p>
          <br>
          <p>{{user_data[i][2]}}</p>
          <br>
          <p>{{names[i][0]}}</p>
          <br>
          {% if user_data[i][0] in sent %}
          <p>match sent</p>
          {% else %}
          <a id="check_profile" href="{{ url_for('profile2', user=user_data[i][0] )}}">Check Profile</a>
          {% endif%}
        </div>
        {% endfor %}
    </div>
  </body>
</html>